body {
  background-color: #C8C2AA;
  background-size: 4px 4px;
  background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0, 0, 0, 0.07) 4px), linear-gradient(transparent, transparent 3px, rgba(0, 0, 0, 0.07) 4px);
  color: #4D493E;
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.glitch {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: .4rem;
  font-weight: bold;
  text-shadow: 0.2rem 0.2rem 0 rgba(77, 73, 62, 0.3);
}

.glitch-img {
    position: absolute;
    top: calc(-1 * 5px);
    left: calc(-1 * 10px);
    width: calc(100% + 10px * 2);
    height: calc(100% + 5px * 2);
    background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0, 0, 0, 0.07) 4px), linear-gradient(transparent, transparent 3px, rgba(0, 0, 0, 0.07) 4px);
    background-color: transparent;
    background-size: cover;
    transform: translate3d(0, 0, 0);
    background-blend-mode: none
}


.loader {
  width:49px;
  padding: 5px;
  background: #ddd;
  border: 2px solid #444;
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.loader__square {
  height: 20px;
  width: 20px;
  border: 2px solid #444;
  margin: 2px;
}
.loader .square--1 {
  -webkit-animation: backgroundChange infinite 2s;
          animation: backgroundChange infinite 2s;
}
.loader .square--2 {
  -webkit-animation: backgroundChange infinite 2s 0.5s;
          animation: backgroundChange infinite 2s 0.5s;
}
.loader .square--3 {
  -webkit-animation: backgroundChange infinite  2s 1.5s;
          animation: backgroundChange infinite  2s 1.5s;
}
.loader .square--4 {
  -webkit-animation: backgroundChange infinite 2s 1s;
          animation: backgroundChange infinite 2s 1s;
}

#myDiv {
  display: none;
  text-align: center;
}

@-webkit-keyframes backgroundChange {
  25% {
    background: transparent;
  }
  50% {
    background: #444;
  }
  75% {
    background: transparent;
  }
  100% {
    background: transparent;
  }
}

@keyframes backgroundChange {
  25% {
    background: transparent;
  }
  50% {
    background: #444;
  }
  75% {
    background: transparent;
  }
  100% {
    background: transparent;
  }
}


.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {



}

